
a, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;    
}

.details li {
    margin-left: -40px;
}

.city-select li a{
    width: 100%;
    padding: 5px 0;
    margin: 1px 0;
    display: block;

}

.selected-city {
    box-shadow: 0 0 1px 3px grey;
    box-sizing: border-box;
}

.heading-section::after {
    content: '';
    width: 200px;
    height: 2px;
    background-color: black;
    margin: 5px auto;
    display: block;
}

.card-tempat:hover {
    box-shadow: 0 0 10px 3px grey;
}

textarea{
    resize: none;
}

.under::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: black;
    margin: auto;
    display: block;
    transition: 0.2s;
}

.under:hover::after{
    width: 100%;
}

.dropdown:hover .dropdown-menu{
    display: block;
    width: 190px;
}

.dropdown-item:hover{
    padding-left: 25px;
}